<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div class="item_detailContainer" layout:fragment="content">
    <h1 class="productTitle">상품 상세정보</h1>
    <hr class="detailTitle_line">

    <!-- 숨겨진 필드로 상품 ID 저장 -->
    <input type="hidden" th:value="${productDTO.id}" name="productId">

    <div class="typeContainer">
        <!-- 상품 판매 상태 -->
        <div class="form-group">
            <label for="productSell">상품 판매 상태</label>
            <select th:field="*{productDTO.productSell}" id="productSell" disabled>
                <option value="SELL" th:selected="${productDTO.productSell == 'SELL'}">판매중</option>
                <option value="SOLD_OUT" th:selected="${productDTO.productSell == 'SOLD_OUT'}">품절</option>
            </select>
        </div>

        <!-- 상품 타입 선택 -->
        <div class="form-group">
            <label for="productType">상품 타입</label>
            <select th:field="*{productDTO.productType}" id="productType" disabled>
                <option value="TILE" th:selected="${productDTO.productType == 'TILE'}">타일</option>
                <option value="WALL" th:selected="${productDTO.productType == 'WALL'}">벽지</option>
                <option value="STOCK" th:selected="${productDTO.productType == 'STOCK'}">수납</option>
                <option value="FURNITURE" th:selected="${productDTO.productType == 'FURNITURE'}">가구</option>
                <option value="FLOOR" th:selected="${productDTO.productType == 'FLOOR'}">바닥재</option>
            </select>
        </div>
    </div>

    <div class="categori_container">
        <p class="itemExplain" style="font-size:2vw; font-weight: 700">상품 카테고리</p>
        <button class="item_categorize" >카테고리</button>
        <p style="font-size: 1vw; font-weight: 800;"> 카테고리</p>
    </div>

    <!-- 상품 이미지와 상세 정보 -->
    <div class="item-detail-wrapper">
        <div id="imageSlideIndicator" class="carousel slide">
            <div class="carousel-inner">
            <button class="carousel-control-prev" type="button" data-bs-target="#imageSlideIndicator" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#imageSlideIndicator" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- 상품 상세 정보 -->
        <div class="product-detail">
            <p>- 상품명: <span th:text="${productDTO.productName}"></span></p>
            <p>- 상품 가격: <span th:text="${productDTO.price} + '원'"></span></p>

            <p style="font-size: 2vw; color: black; font-weight: 800;margin-top: 1vw;">상품사이즈</p>
            <div class="ItemSizeBox">
                <button class="itemSize1"><p>137mm x 133mm</p></button>
                <button class="itemSize2"><p>137mm x 133mm</p></button>
                <button class="itemSize3"><p>137mm x 133mm</p></button>
            </div>

            <p>- 현재 재고수량: <span style="font-size: 2vw; font-weight: 600" th:text="${productDTO.stockNumber}"></span></p>
            <p>- 상품 상세설명: <span th:text="${productDTO.productDetail}"></span></p>
        </div>
    </div>

    <!-- 수정 및 삭제 버튼 (관리자만 보임) -->
    <div class="item-buttons" style="margin-top: 2vw;" th:if="${isAdmin}">
        <!-- 수정 버튼 -->
        <button class="EditButtons"
                th:onclick="|location.href='/item/updateItem/' + ${productDTO.id}|">수정</button>

        <!-- 삭제 버튼 -->
        <form th:action="@{'/item/deleteItem/' + ${productDTO.id}}" method="post" style="display:inline;">
            <button type="submit" class="deleteButtons">삭제</button>
        </form>
    </div>

    <div class="snsShare">
        <p>SNS 공유하기</p>
    </div>
</div>
</html>
