<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div class="item_detailContainer" layout:fragment="content">
    <h1 class="productTitle">상품 상세정보</h1>

    <!-- 숨겨진 필드로 상품 ID 저장 -->
    <input type="hidden" th:value="${productDTO.id}" name="productId">

    <div class="categori_container">
        <p class="itemExplain" style="font-size:2vw; font-weight: 700">상품 카테고리</p>
    </div>

    <!-- 상품 이미지와 상세 정보 -->
    <div class="item-detail-wrapper">
            <div id="imageSlideIndicator" class="carousel slide">
                <div class="slider__wrap">
                    <div class="slider__img"></div>
                    <div class="slider__thumnail"></div>
                    <div class="slider__btn">
                        <a href="#" class="previous"><</a>
                        <a href="#" class="next">></a>
                    </div>
                </div>
            </div>


            <!-- 상품 상세 정보 -->
            <div class="product-detail">
                <p style="font-size: 1.4vw; font-weight: bold">- 상품명</p>
                <p><span th:text="${productDTO.productName}" style="font-size: 3vw; font-weight: 600"></span></p>
                <p>- 가격: <span th:text="${productDTO.price} + '원'"></span></p>

                <p style="font-size: 2vw; color: black; font-weight: 800;margin-top: 1vw;">상품사이즈</p>
                <div class="ItemSizeBox">
                    <button class="itemSize1"><p>137mm x 133mm</p></button>
                    <button class="itemSize2"><p>137mm x 133mm</p></button>
                    <button class="itemSize3"><p>137mm x 133mm</p></button>
                </div>

                <p>- 현재 재고수량: <span style="font-size: 2vw; font-weight: 600" th:text="${productDTO.stockNumber}"></span></p>
                <button class="itemCS" style="margin: 0 auto; margin-top: 2vw"
                        th:onclick="|location.href='/cs/write?productId=' + ${productDTO.id}|">
                    상품 문의하기
                </button>

                <p style="margin-top: 3vw;">- 상품 상세설명</p>
                <span th:text="${productDTO.productDetail}" style="margin-top: 1vw"></span>
            </div>
    </div>
    <!-- 수정 및 삭제 버튼 (관리자만 보임) -->
    <div class="item-buttons" style="margin-top: 2vw;" th:if="${isAdmin}">
        <!-- 수정 버튼 -->
        <button class="EditButtons"
                th:onclick="|location.href='/item/updateItem/' + ${productDTO.id}|">수정</button>

        <!-- 삭제 버튼 -->
        <form th:action="@{'/item/deleteItem/' + ${productDTO.id}}" method="post" style="display:inline;">
            <button type="submit" class="deleteButtons">삭제</button>
        </form>
    </div>

    <div class="snsShare">
        <p>SNS 공유하기</p>
    </div>
</div>
</html>
