<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- 사용자 JS 추가 -->
<th:block layout:fragment="script">
    <script>
        $(document).ready(function (){
            $('#wall_button').click(function (){
                window.location.href = '/item/wall';
            });

            $('#tail_button').click(function (){
                window.location.href = '/item/tile';
            });

            $('#stock_button').click(function (){
                window.location.href = '/item/stock';
            });

            $('#furniture_button').click(function (){
                window.location.href = '/item/furniture';
            });

            $('#floor_button').click(function (){
                window.location.href = '/item/floor';
            });
        });
    </script>
</th:block>

<div class="Item_ContainerMain" layout:fragment="content">
    <div class="selection">
        <p style="text-align: center; color: black; font-size: 2vw; font-weight: bold; padding-top: 5vh;">찾으시는 상품 있으실까요 ?</p>
        <p style="text-align: center; color:black; font-size: 2vw;font-weight: bold; padding-bottom: 5vh;">모든 자재들을 한 눈에 확인해보세요 !!</p>

        <div class="categoriBox">
            <div class="type">
                <div class="categori_image_box">
                    <button class="select_categori_button" id="wall_button" type="button"></button>
                </div>
                <p class="item_name">벽지</p>
            </div>
            <div class="type">
                <div class="categori_image_box2">
                    <button class="select_categori_button" id="tail_button" type="button"></button>
                </div>
                <p class="item_name">타일</p>
            </div>
            <div class="type">
                <div class="categori_image_box3">
                    <button class="select_categori_button" id="stock_button" type="button"></button>
                </div>
                <p class="item_name">수납</p>
            </div>
            <div class="type">
                <div class="categori_image_box4">
                    <button class="select_categori_button" id="furniture_button" type="button"></button>
                </div>
                <p class="item_name">가구</p>
            </div>
            <div class="type">
                <div class="categori_image_box5">
                    <button class="select_categori_button" id="floor_button" type="button"></button>
                </div>
                <p class="item_name">바닥재</p>
            </div>
        </div>
    </div>
</div>