<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
<div layout:fragment="content">
    <div id="carouselExampleIndicators" class="carousel slide carousel_slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner img_size">
            <div class="carousel-item active">
                <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev image_prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next image_next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
    </div>

    <div class="selection">
        <p style="text-align: center; color: black; font-size: 2vw; font-weight: bold; padding-top: 5vh;">찾으시는 상품 있으실까요 ?</p>
        <p style="text-align: center; color:black; font-size: 2vw;font-weight: bold; padding-bottom: 5vh;">모든 자재들을 한 눈에 확인해보세요 !!</p>

        <div class="categoriBox">
            <div class="type">
                <div class="categori_image_box">
                    <img src="" alt="">
                    <button>벽지</button>
                </div>
            </div>
            <div class="type">
                <div class="categori_image_box">
                    <img src="" alt="">
                    <button>타일</button>
                </div>
            </div>
            <div class="type">
                <div class="categori_image_box">
                    <img src="" alt="">
                    <button>수납</button>
                </div>
            </div>
            <div class="type">
                <div class="categori_image_box">
                    <img src="" alt="">
                    <button>가구</button>
                </div>
            </div>
            <div class="type">
                <div class="categori_image_box">
                    <img src="" alt="">
                    <button>바닥재</button>
                </div>
            </div>
        </div>
    </div>
</div>