<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>아트 인 홈</title>

    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>

    <!-- header와 footer 위에 넣기 -->
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
</head>
<body>
    <div th:replace="fragments/header::header"></div>
    <div layout:fragment="content" class="content"></div>
    <div th:replace="fragments/footer::footer"></div>
</body>
</html>