<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="css">
    <style>
        .list_text {
            width: 500px;
            margin: 0 auto;
            margin: 40px;
        }
    </style>
</th:block>
<div layout:fragment="content">
    <div class="list_text">
        <table>
            <thead>
            <tr>
                <th>글 번호</th>
                <th>제목</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${list}">
                <td th:text="${board.id}">1</td>
                <td>
                    <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}">제목입니다.</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>
