<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer class="bg" th:fragment="footer">
    <div>
        <div class="footer">
            <img th:src="@{/img/logo.png}" alt="로고">
            <div class="name">
                <h5>팀장 | </h5>&nbsp;
                <h4>박민영 </h4>&nbsp;&nbsp;&nbsp;
            </div>
            <div class="name">
                <h5>팀원 | </h5>&nbsp;
                <h4>임진아, 정종민, 김태준, 이기련</h4>
            </div>
        </div>
        <hr>
    </div>
</footer>
</html>