<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer class="bg" th:fragment="footer">
    <div>
        <div class="footer">
            <img th:src="@{/img/logo.png}" alt="로고" class="artInHome_logo">
            <div class="footer_main_wrap">
                <p>(주) 아트 인 홈 | 팀 아트 인 홈</p>&nbsp;
                <p>팀장 | 박민영 팀원 | 임진아, 정종민, 김태준, 이기련 </p>&nbsp;&nbsp;&nbsp;
            </div>
            <div class="footer_sub_wrap">
                <p>아트인 홈 빌딩스 | 서울시 000구 000동 505-1, 보라매 빌딩 5층</p>&nbsp;
                <p>사업자등록번호 : 180-86-01505 | 인테리어사업자등록번호 : 제 2024-11호</p>
            </div>

            <div class="footer_etc">
                <div class="etc_wrap">
                    <p>개인정보 처리 방침</p>
                    <p>법적고지</p>
                    <p>오시는 길</p>
                    <p>고객문의</p>
                    <p>채용문의</p>
                </div>
                <p>ⓒ all rights reserved</p>
            </div>
        </div>
        <hr class="footer_hr">
    </div>
</footer>
</html>