<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/header/header.css">
  <script src="header.js"></script>
  <title>Document</title>
</head>
<body>
<head>
  <div class="header">
    <img src="/header/logo.png" alt="" class="logo">
    <ul class="header-ul menu align-center expanded text-center SMN_effect-49">
      <li>
        <a href="#">자재구매</a>
        <div class="drop">
          <ul class="dropdown">
            <li>자재목록1</li>
            <li>자재목록2</li>
            <li>자재목록3</li>
            <li>자재목록4</li>
          </ul>
        </div>
      </li>
      <li><a href="#">팁&매거진</a></li>
      <li><a href="#">업체찾기</a></li>
      <li>
        <a href="#">게시판</a>
        <div class="drop">
          <ul class="dropdown">
            <li>셀프인테리어</li>
            <li>업체홍보</li>
            <li>질문</li>
          </ul>
        </div>
      </li>
    </ul>
    <button class="btn_login"><img src="/header/login.png" alt="로그인"></button>
  </div>
</head>
</body>
</html>