/* 기본적인 스타일 설정 */

#CS_detailContainer{
    width: 80%;
    height: 30vw;
    margin: 0 auto;
}

#comment_edit{
    width: 80%;
    height: 30vw;
}
#CS_modifycontainer{
    width: 80%;
    height: 30vw;
}
.write_text {
    font-size: 2em;
    font-weight: bold;
    color: #806C61;
    margin-bottom: 1vw;
}

.cs_view {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.form-group, .writeTitle, .writeContent {
    margin-bottom: 1.5vw;
}

.writeTitle input, .writeContent textarea {
    width: 100%;
    border: 0.3vw solid #ccc;
    border-radius: 5px;
}

.button_group {
    display: flex;
    gap: 1vw;
}

.button_group button {
    padding: 0.5vw 2vw;
    border: none;
    background-color: #806C61;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.button_group button:hover {
    background-color: #654c46;
}

textarea {
    resize: none;
    overflow-y: auto;
}