.item_detailContainer {
    width: 100%;
    height: 100%;
}

.item-detail-wrapper {
    display: flex;
    width: 80%;
    margin: 1vw auto;
    border: 1px solid #2C2C2C;
    background-color: rgba(255, 255, 255, 0);
}

.product-account {
    width: 80vw;
    margin: 1vw auto;
    border: 1px solid #2c2c2c;
}



#imageSlideIndicator {
    width: 100%;
    height: 40vw;
    background-color: #c9c9c9;
    position: relative; /* 슬라이더 내부를 위치시키기 위한 상대 위치 */
}

.detailTitle_line {
    width: 5vw;
    height: 0.2vw;
    border-radius: 5%;
    display: flex;
    background: black;
    color: black;
    margin-top: 1vh; /* 밑줄 위에 간격 */
    opacity: 1;
}

/* 왼쪽 영역: 이미지 슬라이드 */
.carousel {
    flex: 1;
}

/* 오른쪽 영역: Product Detail */
.product-detail {
    flex: 1;
    max-width: 50%; /* 오른쪽 영역이 50%를 차지 */
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-detail p {
    padding-left: 2vw;
}

.vertical_line {
    width: 2px;  /* 세로선의 너비 */
    background-color: #333333; /* 선의 색상 */
    height: 100%; /* 세로선의 높이 */
    opacity: 1;
}

.ItemSizeBox {
    display: flex;
    justify-content: space-between;
    margin: 0 2vw;
}

.itemSize1, .itemSize2, .itemSize3 {
    width: 10vw;
    height: 3vw;
    background-color: #ffffff;
    border: 0.5px solid #000000;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size: 1vw;
    font-weight: 700;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.itemSize1:hover , .itemSize2:hover , .itemSize3:hover{
    border: 4px solid #C5BAAA;

}

.itemCS {
    width: 85%;
    height: 3vw;
    color: #2c2c2c;
    border: 1px solid #2c2c2c;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    margin: 2vw auto 0;
}
.itemCS:hover{
    background-color: #c5baaa;
    border: 0;
    transition: 0.3s;
}

.item-buttons {
    display: flex;
    margin-right: 10vw;
    margin-bottom: 1vw;
}

.EditButtons {
    display: block;
    margin-left: auto;
    margin-right: 0.2vw;
    width: 5vw;
    height: 2vw;
    color: white;
    background-color: #806C61;
    border: 0.5px solid #2c2c2c;
    border-radius: 10%;
    cursor: pointer;
}

.EditButtons:hover {
    background-color: #C6BAAA;
    color: white;
}

.deleteButtons {
    display: block;
    margin-left: auto;
    width: 5vw;
    height: 2vw;
    color: white;
    background-color: #806C61;
    border: 0.5px solid #2c2c2c;
    border-radius: 7%;
    cursor: pointer;
}

.deleteButtons:hover {
    background-color: #C6BAAA;
    color: white;
}


/* 이미지 슬라이더 */
.slider__wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* 슬라이더 영역의 너비를 imageSlideIndicator에 맞춤 */
    height: 100%; /* 슬라이더 영역의 높이를 imageSlideIndicator에 맞춤 */

}

.slider__img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider__img img {
    width: 100%;         /* 이미지가 부모 요소의 너비를 채우도록 설정 */
    height: auto;        /* 높이는 자동으로 설정 */
    display: none;       /* 모든 이미지를 숨김 */
}

.slider__img img.active {
    display: block;      /* 활성화된 이미지만 표시 */
}

.slider__btn a {
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    color: black;
    padding: 10px;
}

.active.imgList{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.slider__btn a {
    position: absolute;
    top: 25%;
    width: 100px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    transition: all 400ms ease-in-out;
}

.slider__btn a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.slider__btn a.next {
    top:50%;
    width: 3vw;
    height: 3vw;
    font-size: 3vw;
    right: 0;
}

.slider__btn a.previous {
    width: 3vw;
    height: 3vw;
    font-size: 3vw;
    top: 50%;
    left: 0;
}

.product-detail-text {
    margin: 1vw auto;

    font-size: 1.4vw;
    font-weight: 550;
    /* 블록 요소로 설정 */
    display: block;
    /* 텍스트 자동 줄 바꿈 */
    word-wrap: break-word; /* 오래된 브라우저 호환성을 위해 */
    /* 또는 modern 브라우저를 위해 */
    word-break: break-all;
    /* 또는 */
    overflow-wrap: break-word;
    /* 필요 시 추가적인 여백 또는 패딩 조정 */
    padding: 0 2vw;
}
