.item_detailContainer {
    width: 100%;
    height: 100%;
}

.item-detail-wrapper {
    display: flex;
    width: 100%;
    gap: 2vw; /* 두 영역 사이의 간격 */
    border: 1px solid #2C2C2C;
    background-color: rgba(255, 255, 255, 0);
}

#imageSlideIndicator {
    width: 100%;
    height: 40vw;
    background-color: #c9c9c9;
    position: relative; /* 슬라이더 내부를 위치시키기 위한 상대 위치 */
}

.detailTitle_line {
    width: 60vw;
    height: 0.2vw;
    border-radius: 5%;
    display: flex;
    background: black;
    color: black;
    margin-top: 1vh; /* 밑줄 위에 간격 */
    opacity: 1;
}

/* 왼쪽 영역: 이미지 슬라이드 */
.carousel {
    flex: 1;
    max-width: 50%; /* 왼쪽 영역이 50%를 차지 */
}

/* 오른쪽 영역: Product Detail */
.product-detail {
    flex: 1;
    max-width: 50%; /* 오른쪽 영역이 50%를 차지 */
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.ItemSizeBox {
    display: flex;
    gap: 1vw;
}

.itemSize1, .itemSize2, .itemSize3 {
    width: 10vw;
    height: 3vw;
    padding: 0.5vw;
    background-color: #ffffff;
    border: 0.5px solid #000000;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size: 0.8vw;
    font-weight: 700;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.itemCS {
    width: 85%;
    height: 3vw;
    color: white;
    background-color: black;
    text-align: center;
}

.item-buttons {
    display: flex;
}

.EditButtons {
    display: block;
    margin-left: auto;
    margin-right: 0.2vw;
    width: 5vw;
    height: 2vw;
    color: white;
    background-color: #806C61;
    border: 0.5px solid #2c2c2c;
    border-radius: 10%;
    cursor: pointer;
}

.EditButtons:hover {
    background-color: #C6BAAA;
    color: white;
}

.deleteButtons {
    display: block;
    margin-left: auto;
    width: 5vw;
    height: 2vw;
    color: white;
    background-color: #806C61;
    border: 0.5px solid #2c2c2c;
    border-radius: 7%;
    cursor: pointer;
}

.deleteButtons:hover {
    background-color: #C6BAAA;
    color: white;
}

/* SNS */
.snsShare {
    width: 20vw;
    height: 5vw;
    padding-top: 2vw;
    margin: 0 auto;
    text-align: center;
    font-size: 2vw;
    font-weight: 800;
    background-color: #ffffff;
}

/* 이미지 슬라이더 */
.slider__wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* 슬라이더 영역의 너비를 imageSlideIndicator에 맞춤 */
    height: 100%; /* 슬라이더 영역의 높이를 imageSlideIndicator에 맞춤 */

    box-shadow: 0 50px 100px rgba(0, 0, 0, 0.2);
}

.slider__img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider__img img {
    position: absolute;
    object-fit: cover; /* 이미지를 박스에 맞추고, 초과된 부분은 잘라냅니다. */
    opacity: 0;
    transform: scale(0.6);
    transition: all 600ms ease-in-out;
}

.slider__img img.active {
    opacity: 1;
    transform: scale(1);
}
.active.imgList{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.slider__btn a {
    position: absolute;
    top: 25%;
    width: 100px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    transition: all 400ms ease-in-out;
}

.slider__btn a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.slider__btn a.next {
    top:50%;
    width: 3vw;
    height: 3vw;
    font-size: 3vw;
    right: 0;
}

.slider__btn a.previous {
    width: 3vw;
    height: 3vw;
    font-size: 3vw;
    top: 50%;
    left: 0;
}
